# Virtual environments
.venv/
venv/
env/

# Python caching
__pycache__/
*.pyc

# Data and models (crucial for Kaggle projects)
*.csv
*.json
*.parquet
*.h5
*.pkl
*.pt
*.onnx

# Sensitive Environment variables / API keys
.env

# Streamlit Local configuration and secrets
.streamlit/config.toml
.streamlit/secrets.toml
